@use "../../styles/mixins" as *;
.main {
  @include min-size(auto, auto);
  padding: 0 6rem 0 6rem;
}

.content {
  @include size(auto, auto);
  @include flex(column, null, null, 3vh);

  margin-top: 10vh;
}
.heading {
  padding-left: 4.5rem;
  @include flex(row, null, center);
  font-size: 2rem;
  height: 15vh;
}
.card {
  @include flex(row, start);
  @include size(60vh);
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 3rem;
  padding-left: 4.5rem;
}
h1 {
  padding: 0;
  margin: 0;
}
