body {
  margin: 0;
  padding: 0;
}

.suduko-box {
  box-sizing: border-box;
  border: 0.2vh solid black;
  background-color: rgb(232, 232, 123);
  display: flex;
  flex-direction: column;
}
@media screen and (orientation: landscape) {
  .suduko-box {
    margin: auto;
    height: 100vh;
    width: 100vh;
  }
  .col {
    border: 0.1vh black;
  }
  .row {
    border: 0.1vh solid black;
  }
  .cell {
    border: 0.1vh solid black;
    font-size: 6vh;
  }
}
@media screen and (orientation: portrait) {
  .suduko-box {
    position: absolute;
    top: calc(50vh - 50vw);
    width: 100vw;
    height: 100vw;
  }
  .col {
    border: 0.1vw black;
  }
  .row {
    border: 0.1vw solid black;
  }
  .cell {
    border: 0.1vw solid black;
    font-size: 6vw;
  }
}
.col {
  box-sizing: border-box;
  height: calc(100% / 3);
  display: flex;
  gap: 0;
}
.row {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
}
.cell {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
}
