
body{
    margin: 0;
    padding: 0;
}

.suduko-box{
    box-sizing: border-box;
    border: 0.2vh solid black;
    background-color: rgb(232,232,123);
}
@media screen and (orientation:landscape) {
    .suduko-box{
        margin: auto;
        height: 100vh;
        width:100vh;
    }
    .vertibox{
        border: 0.1vh  black;
    }
    .horibox{
        border: 0.1vh solid black;
    }
    .horibox2{
        border: 0.1vh solid black;
    }
    
    
}

@media screen and (orientation:portrait) {
    .suduko-box{
        position: absolute;
        top: calc(50vh - 50vw);
        width: 100vw;
        height: 100vw;  
    }
    .vertibox{
        border: 0.1vw  black;
    }
    .horibox{
        border: 0.1vw solid black;
    }
    .horibox2{
        border: 0.1vw solid black;
    }
    
}
.vertibox{
    box-sizing:border-box ;
    height: calc(100% / 3);
}

.horibox{
    box-sizing:border-box ;
    display: inline-block;
    width:  calc(100% / 3);
    height: 100%;
    
}
.horibox2{
    box-sizing:border-box ;
    display: inline-block;
    width:  calc(100% / 3);
    overflow: hidden;
    height: 100%;
}



/* Landscape */
