body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sudoku-box {
  box-sizing: border-box;
  border: 0.2vh solid black;
  border-bottom: 0.4vh solid black;
  background-color: rgb(232, 232, 123);
  display: flex;
  flex-direction: column;
}
.sudoku-box input {
  background-color: rgb(232, 232, 123);
}
@media screen and (orientation: landscape) {
  .grid-buttons {
    height: 50vh;
  }
  .sudoku-box {
    height: 50vh;
    width: 50vh;
  }
  .row {
    border: 0.1vh solid black;
  }
  .box {
    border: 0.1vh solid black;
  }
  .cell {
    border: 0.1vh solid black;
    font-size: 4vh;
  }
  .button-div {
    flex-direction: column;
    justify-content: end;
    height: 50vh;
    width: 20vh;
    gap: 8vh;
  }
  .button {
    width: 100%;
  }
  .content {
    gap: 5vh;
  }
}
@media screen and (orientation: portrait) {
  .sudoku-box {
    top: calc(50vh - 50vw);
    width: 40vw;
    height: 40vw;
  }
  .row {
    border: 0.1vw solid black;
  }
  .box {
    border: 0.1vw solid black;
  }
  .cell {
    border: 0.1vw solid black;
    font-size: 4vw;
  }
  .grid-buttons {
    flex-direction: column;
    width: 42vw;
    height: 100%;
  }
  .button-div {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vh;
  }
  .button {
    width: 100%;
    height: calc(100% / 4);
  }
}
.content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  box-sizing: border-box;
  height: calc(100% / 3);
  display: flex;
  gap: 0;
}
.box {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
}
.cell {
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  padding: 0;
}

.grid-buttons {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.button-div {
  display: flex;
}
.button {
  min-height: 8vh;
  border-radius: 5px;
  cursor: pointer;
  white-space: normal; /* Allows text wrapping */
  word-break: break-word;
}

.heading {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
